Repository FlexMeasures/flexmeasures, pull requests merged in 2021-11, with the labels that each got.

#154 Use timely-beliefs tooling to create forecast model specs
  documentation/changelog.rst
  documentation/tut/forecasting_scheduling.rst
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/model_spec_factory.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_queries.py
  requirements/app.in
  requirements/app.txt
Labels: Data, refactoring

#221 Add chart theme
  documentation/changelog.rst
  flexmeasures/ui/templates/views/sensors.html
  flexmeasures/ui/utils/chart_defaults.py
  flexmeasures/ui/utils/view_utils.py
  flexmeasures/ui/views/sensors.py
Labels: UI, Plugin support

#231 Fix device message to stop confusing multiple schedules
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v1_3/implementations.py
Labels: bug, API, Still Needs Manual Backport

#233 update architecture pics and also move them to our GH screenshot repo
  Readme.md
Labels: documentation

#229 note on datamodel transition in docs
  documentation/dev/introduction.rst
  documentation/dev/note-on-datamodel-transition.rst
  documentation/getting-started.rst
  documentation/index.rst
Labels: documentation

#230 Check plugin settings
  documentation/changelog.rst
  documentation/dev/plugins.rst
  flexmeasures/app.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/plugin_utils.py
Labels: Plugin support

#241 Refactor recording of latest task run into function usable outside the decorator
  flexmeasures/data/models/task_runs.py
  flexmeasures/data/transactional.py
Labels: refactoring
