Repository FlexMeasures/flexmeasures, pull requests merged in 2021-03, with the labels that each got.

#48 Install windows-specific dependencies
  requirements/app.in
  setup.py
Labels: bug

#49 Determine resolution for plots from data first, then from session
  flexmeasures/data/queries/utils.py
  flexmeasures/data/tests/test_queries.py
  flexmeasures/ui/views/analytics.py
  flexmeasures/ui/views/charts.py
Labels: UI

#69 Add SQLAlchemy type annotations
  flexmeasures/data/config.py
Labels: development, documentation

#41 Issue 2 retire rolling parameter in api decorator
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/api/simulation.rst
  documentation/changelog.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/common/utils/validators.py
  flexmeasures/api/v1/implementations.py
  flexmeasures/api/v1/routes.py
  flexmeasures/api/v1/tests/utils.py
  flexmeasures/api/v1_1/implementations.py
  flexmeasures/api/v1_1/routes.py
  flexmeasures/api/v1_1/tests/test_api_v1_1.py
  flexmeasures/api/v1_1/tests/utils.py
  flexmeasures/api/v1_2/routes.py
  flexmeasures/api/v1_3/routes.py
  flexmeasures/api/v2_0/implementations/__init__.py
  flexmeasures/api/v2_0/implementations/sensors.py
  flexmeasures/api/v2_0/routes.py
  flexmeasures/api/v2_0/tests/test_api_v2_0_sensors.py
  flexmeasures/api/v2_0/tests/utils.py
  flexmeasures/conftest.py
  flexmeasures/ui/views/charts.py
Labels: API, Data, documentation

#67 Better xrange and title if only schedules are plotted
  documentation/changelog.rst
  flexmeasures/ui/utils/plotting_utils.py
  flexmeasures/ui/views/analytics.py
Labels: UI

#70 Unique generic sensor ids
  flexmeasures/api/v2_0/tests/test_api_v2_0_assets.py
  flexmeasures/api/v2_0/tests/utils.py
  flexmeasures/data/config.py
  flexmeasures/data/migrations/versions/a528c3c81506_unique_generic_sensor_ids.py
  flexmeasures/data/models/assets.py
  flexmeasures/data/models/markets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/weather.py
Labels: Data

#73 move developer Readme/markdown docs to main documentation
  Configuration.md
  Developing.md
  Installation.md
  Readme.md
  ci/Readme.md
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/conf.py
  documentation/configuration.rst
  documentation/dev/api.rst
  documentation/dev/ci.rst
  documentation/dev/data.rst
  documentation/dev/introduction.rst
  documentation/getting-started.rst
  documentation/index.rst
  flexmeasures/Readme.md
  flexmeasures/api/Readme.md
  flexmeasures/data/Readme.md
Labels: documentation

#77 Fix migration autoincrement
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/a528c3c81506_unique_generic_sensor_ids.py
Labels: CLI, Data, bug
