Repository FlexMeasures/flexmeasures, pull requests merged in 2022-03, with the labels that each got.

#377 Issue 376 facilitate saving feedback annotations
  flexmeasures/data/migrations/versions/7f8b8920355f_create_annotation_table.py
  flexmeasures/data/models/annotations.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/queries/annotations.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/generic_assets.py
Labels: Plugin support

#372 Issue 371 cli command for creating a schedule
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  flexmeasures/api/v1_3/tests/test_api_v1_3.py
  flexmeasures/api/v1_3/tests/test_api_v1_3_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/planning/battery.py
  flexmeasures/data/models/planning/charging_station.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/units.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/utils/tests/test_unit_utils.py
  flexmeasures/utils/unit_utils.py
Labels: CLI

#382 Update CLI commands listing for edit group
  documentation/cli/commands.rst
Labels: documentation

#394 More use of marshmallow validation in CLI command `flexmeasures add schedule`
  flexmeasures/cli/data_add.py
  flexmeasures/data/schemas/__init__.py
Labels: CLI

#396 Issue 393 RESTful scheduling api
  documentation/api/change_log.rst
  documentation/index.rst
  documentation/tut/building_uis.rst
  documentation/tut/forecasting_scheduling.rst
  documentation/tut/posting_data.rst
  documentation/tut/toy-example-from-scratch.rst
  flexmeasures/api/v1_3/implementations.py
  flexmeasures/api/v1_3/tests/utils.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_api_v3_0_users.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_show.py
  flexmeasures/data/services/scheduling.py
Labels: documentation, API, Scheduling

#406 Upgrade timely-beliefs dependency
  requirements/app.in
  requirements/app.txt
Labels: bug, Still Needs Manual Backport

#407 fix query limiting based on accounts for when CLI is used
  flexmeasures/data/queries/utils.py
Labels: bug, Still Needs Manual Backport

#409 Mask locations of inaccessible assets on map
  documentation/changelog.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v1_1/implementations.py
  flexmeasures/cli/__init__.py
  flexmeasures/conftest.py
  flexmeasures/data/queries/utils.py
  flexmeasures/data/services/asset_grouping.py
  flexmeasures/data/tests/test_forecasting_jobs.py
  flexmeasures/data/tests/test_forecasting_jobs_fresh_db.py
  flexmeasures/data/tests/test_sensor_queries.py
Labels: UI, Still Needs Manual Backport, Auth
