Repository FlexMeasures/flexmeasures, pull requests merged in 2022-08, with the labels that each got.

#475 Tooltip units on sensor page
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
Labels: UI, Units

#451 Issue 450 api option to customize which price and power sensors to take into account for scheduling
  documentation/changelog.rst
  documentation/index.rst
  documentation/tut/toy-example-from-scratch.rst
  flexmeasures/api/v1_3/tests/utils.py
  flexmeasures/api/v2_0/tests/test_api_v2_0_assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/cli/data_add.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/battery.py
  flexmeasures/data/models/planning/charging_station.py
  flexmeasures/data/models/planning/exceptions.py
  flexmeasures/data/models/planning/solver.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_jobs_fresh_db.py
Labels: API, Scheduling

#474 Allow editing asset attributes in the UI
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/ui/crud/assets.py
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/crud/asset_new.html
Labels: API, Data, UI

#489 add --custom-message param to flexmeasures monitor task CLI
  documentation/changelog.rst
  flexmeasures/cli/monitor.py
Labels: CLI
