Repository FlexMeasures/flexmeasures, pull requests merged in 2022-12, with the labels that each got.

#533 Issue 515 slow loading of asset page due to timerange query of its sensors
  documentation/changelog.rst
  flexmeasures/ui/templates/base.html
Labels: UI

#545 Fix bugs in tutorial and CLI scheduling trigger
  documentation/index.rst
  documentation/tut/toy-example-from-scratch.rst
  flexmeasures/cli/data_add.py
  flexmeasures/data/services/scheduling.py
Labels: bug, documentation, Scheduling, CLI

#538 Stop trimming the planning window in response to price availability
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/utils.py
Labels: bug, Scheduling

#543 398 Support optional "source" in /sensors/data [GET]
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/sources.py
Labels: bug

#547 388 update chart plotting tutorial wrt plotting
  documentation/configuration.rst
  documentation/tut/building_uis.rst
  documentation/views/dashboard.rst
  flexmeasures/api/dev/sensors.py
Labels: documentation, API, Still Needs Changelog Entry

#542 Support showing instantaneous sensor data with a custom event frequency
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/tut/posting_data.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/dev/tests/conftest.py
  flexmeasures/api/v1/routes.py
  flexmeasures/api/v1_1/routes.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
  flexmeasures/data/models/time_series.py
Labels: API, Data, CLI

#553 552 playback button stopped working
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/views/sensors.html
Labels: bug, UI

#554 544 Deprecation notice for API versions 1.0 to 2.0
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/api/v1.rst
  documentation/api/v1_1.rst
  documentation/api/v1_2.rst
  documentation/api/v1_3.rst
  documentation/api/v2_0.rst
  documentation/changelog.rst
  flexmeasures/api/common/utils/decorators.py
  flexmeasures/api/common/utils/deprecation_utils.py
  flexmeasures/api/tests/utils.py
  flexmeasures/api/v1/__init__.py
  flexmeasures/api/v1/tests/test_api_v1.py
  flexmeasures/api/v1/tests/test_api_v1_fresh_db.py
  flexmeasures/api/v1_1/__init__.py
  flexmeasures/api/v1_1/tests/test_api_v1_1.py
  flexmeasures/api/v1_1/tests/test_api_v1_1_fresh_db.py
  flexmeasures/api/v1_2/__init__.py
  flexmeasures/api/v1_2/tests/test_api_v1_2.py
  flexmeasures/api/v1_3/__init__.py
  flexmeasures/api/v1_3/tests/test_api_v1_3.py
  flexmeasures/api/v1_3/tests/test_api_v1_3_fresh_db.py
  flexmeasures/api/v2_0/__init__.py
  flexmeasures/api/v2_0/routes.py
  flexmeasures/api/v2_0/tests/test_api_v2_0_assets.py
  flexmeasures/api/v2_0/tests/test_api_v2_0_sensors.py
  flexmeasures/api/v2_0/tests/test_api_v2_0_sensors_fresh_db.py
  flexmeasures/utils/time_utils.py
Labels: documentation, API, deprecation

#556 Issue-555: Make the accounts-association migration step safe against future added db fields
  flexmeasures/data/migrations/versions/994170c26bc6_add_account_table.py
  flexmeasures/data/migrations/versions/e690d373a3d9_copy_Power_Price_Weather_time_series_data_to_TimedBeliefs_table.py
Labels: bug

#558 Add note on what to do in case of SMTPRecipientsRefused
  documentation/changelog.rst
  documentation/configuration.rst
Labels: documentation

#560 559 enhance replay feature with ruler showing current time
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/ui/templates/base.html
Labels: UI

#564 Deprecation headers for old fields that moved to flex-model and flex-context
  flexmeasures/api/common/utils/deprecation_utils.py
  flexmeasures/api/tests/utils.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Labels: API, deprecation

#537 Refactor scheduler interface - API and inner logic
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/configuration.rst
  documentation/dev/docker-compose.rst
  documentation/index.rst
  documentation/plugin/customisation.rst
  documentation/tut/forecasting_scheduling.rst
  documentation/tut/posting_data.rst
  documentation/tut/toy-example-from-scratch.rst
  flexmeasures/__init__.py
  flexmeasures/api/common/responses.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/common/utils/deprecation_utils.py
  flexmeasures/api/tests/utils.py
  flexmeasures/api/v1_2/implementations.py
  flexmeasures/api/v1_3/implementations.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/utils.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/dummy_scheduler.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_jobs_fresh_db.py
  requirements/app.in
  requirements/app.txt
Labels: documentation, API, Scheduling, CLI

#565 Document how clients can monitor deprecation and sunset response headers
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
  flexmeasures/api/common/utils/deprecation_utils.py
  flexmeasures/api/tests/utils.py
Labels: documentation, API, deprecation

#566 Move over deprecated soc-targets field
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
Labels: bug, API

#568 400 support passing a custom duration to /schedules/trigger [POST]
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/times.py
  flexmeasures/utils/config_defaults.py
Labels: API, Scheduling
