Repository FlexMeasures/flexmeasures, pull requests merged in 2023-08, with the labels that each got.

#780 feature: show a warning message whenever a heatmap is shown that masks sources
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/data-utils.js
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/views/sensors.html
Labels: UI

#740 feat: in play mode, allow showing any sensor on the asset page
  documentation/changelog.rst
  documentation/host/modes.rst
  flexmeasures/data/models/generic_assets.py
Labels: UI

#768 feature: add command `flexmeasures add schedule for-process`
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  flexmeasures/api/dev/tests/conftest.py
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/process.py
  flexmeasures/data/models/planning/tests/test_process.py
  flexmeasures/data/tests/conftest.py
Labels: Scheduling, CLI

#783 mention that the higher version 2.10 works
  ci/install-cbc-from-source.sh
Labels: documentation

#715 feat: new chart type for sensor data: daily heatmap
  documentation/changelog.rst
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/data-utils.js
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/views/sensors.html
  flexmeasures/ui/utils/view_utils.py
Labels: UI

#723 feat: show split data during fall DST transition in daily heatmap
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/daterange-utils.js
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/views/sensors.html
Labels: UI

#695 Remove obsolete data classes
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/dev/note-on-datamodel-transition.rst
  documentation/host/modes.rst
  documentation/index.rst
  documentation/tut/forecasting_scheduling.rst
  documentation/views/analytics.rst
  documentation/views/control.rst
  documentation/views/dashboard.rst
  documentation/views/portfolio.rst
  flexmeasures/api/common/schemas/sensors.py
  flexmeasures/api/common/schemas/tests/test_sensors.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/common/utils/decorators.py
  flexmeasures/api/common/utils/migration_utils.py
  flexmeasures/api/common/utils/validators.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/conftest.py
  flexmeasures/data/config.py
  flexmeasures/data/models/assets.py
  flexmeasures/data/models/forecasting/model_spec_factory.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/markets.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/weather.py
  flexmeasures/data/queries/analytics.py
  flexmeasures/data/queries/portfolio.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/schemas/locations.py
  flexmeasures/data/schemas/tests/test_latitude_longitude.py
  flexmeasures/data/scripts/visualize_data_model.py
  flexmeasures/data/services/resources.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_forecasting_jobs.py
  flexmeasures/data/tests/test_forecasting_jobs_fresh_db.py
  flexmeasures/data/tests/test_queries.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_jobs_fresh_db.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs_fresh_db.py
  flexmeasures/data/tests/test_user_services.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/daterangepicker-init.js
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/crud/assets.html
  flexmeasures/ui/tests/conftest.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/utils/view_utils.py
  flexmeasures/utils/coding_utils.py
  flexmeasures/utils/time_utils.py
Labels: deprecation, Data

#777 documentation: `ProcessScheduler`
  documentation/cli/change_log.rst
  documentation/index.rst
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/planning/process.py
  flexmeasures/data/scripts/data_gen.py
Labels: documentation, Scheduling

#786 fix unresolved reference
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-setup.rst
Labels: documentation

#770 feat: add Binary constraint to prevent energy losses (at negative prices)
  .github/workflows/lint-and-test.yml
  documentation/changelog.rst
  documentation/concepts/benefits.rst
  documentation/concepts/device_scheduler.rst
  documentation/dev/introduction.rst
  flexmeasures/conftest.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/utils.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs.py
  flexmeasures/utils/config_defaults.py
  requirements/test.in
  requirements/test.txt
Labels: Scheduling

#752 feat: support YAML in `flexmeasures add report` command
  ci/run_mypy.sh
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add.py
  requirements/app.in
  requirements/app.txt
Labels: Reporting

#789 Adapt `test_add_report` to use the new field of the `PandasReporter` schema
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_data_add.py
Labels: CLI, Reporting

#788 Polish `PandasReporter` schemas
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/models/reporting/tests/test_pandas_reporter.py
  flexmeasures/data/models/reporting/tests/test_tibber_reporter.py
  flexmeasures/data/schemas/io.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/schemas/reporting/aggregation.py
  flexmeasures/data/schemas/reporting/pandas_reporter.py
  flexmeasures/data/schemas/tests/test_reporting.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_data_source.py
Labels: Still Needs Changelog Entry, Reporting

#710 Make pip-installable on Windows
  documentation/dev/introduction.rst
Labels: documentation, development, installation

#776 feat: change Makefile to generate dedicated python requirements.txt files
  .github/workflows/lint-and-test.yml
  Dockerfile
  Makefile
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/conftest.py
  requirements/3.10/app.txt
  requirements/3.10/dev.txt
  requirements/3.10/docs.txt
  requirements/3.10/test.txt
  requirements/3.11/app.txt
  requirements/3.11/dev.txt
  requirements/3.11/docs.txt
  requirements/3.11/test.txt
  requirements/3.8/app.txt
  requirements/3.8/dev.txt
  requirements/3.8/docs.txt
  requirements/3.8/test.txt
  requirements/3.9/app.txt
  requirements/3.9/dev.txt
  requirements/3.9/docs.txt
  requirements/3.9/test.txt
  requirements/app.in
  requirements/test.in
Labels: Continuous Integration, installation, dependency-hygiene

#824 Switch off HiGHS logs for `LOGGING_LEVEL=INFO`
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
Labels: Scheduling, Still Needs Manual Backport, Still Needs Changelog Entry

#830 Fix: public sensors to show
  documentation/changelog.rst
  flexmeasures/data/models/generic_assets.py
Labels: bug, Still Needs Manual Backport

#813 Upgrade dependencies after v0.15
  requirements/3.10/app.txt
  requirements/3.10/dev.txt
  requirements/3.10/docs.txt
  requirements/3.10/test.txt
  requirements/3.11/app.txt
  requirements/3.11/dev.txt
  requirements/3.11/docs.txt
  requirements/3.11/test.txt
  requirements/3.8/app.txt
  requirements/3.8/docs.txt
  requirements/3.8/test.txt
  requirements/3.9/app.txt
  requirements/3.9/dev.txt
  requirements/3.9/docs.txt
  requirements/3.9/test.txt
  requirements/app.in
Labels: dependency-hygiene

#825 Add tutorial for the `Reporters`
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/index.rst
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-reporter.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_show.py
  flexmeasures/data/models/planning/linear_optimization.py
  requirements/app.in
Labels: documentation, Reporting

#834 fix: parsing of soc-target timestamps in `fm add schedule for-storage`
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
Labels: bug, Scheduling, Still Needs Manual Backport

#832 fix: infeasible problem due to float precision error
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_solver.py
  setup.cfg
Labels: bug, Scheduling

#833 feature: add command `flexmeasures show chart`
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_data_show.py
  flexmeasures/utils/coding_utils.py
  requirements/3.11/app.txt
  requirements/3.8/app.txt
  requirements/3.9/app.txt
Labels: CLI, Still Needs Changelog Entry
