Repository FlexMeasures/flexmeasures, pull requests merged in 2023-11, with the labels that each got.

#888 fix(api): redirect url for fallback scheduler returns full url
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Labels: API, Scheduling

#883 feature: weekly heatmap
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/ui/templates/views/sensors.html
Labels: UI

#891 make fallback scheduler redirect optional
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/utils/config_defaults.py
Labels: Scheduling, Still Needs Changelog Entry

#896 Update Docker Setup Instructions and Refactor Toy Example Section
  documentation/index.rst
  documentation/tut/toy-example-setup.rst
Labels: documentation

#885 Documentation/v2g use case
  documentation/api/notation.rst
  documentation/api/v2g.rst
  documentation/changelog.rst
  documentation/index.rst
  documentation/tut/toy-example-from-scratch.rst
  flexmeasures/api/v3_0/sensors.py
Labels: documentation, API

#881 Feature/planning/add asset to scheduler
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/cli/data_add.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/exceptions.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_jobs_fresh_db.py
Labels: Scheduling

#908 Review/897/refactoring
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
Labels: refactoring

#912 fix: complete return tuple
  flexmeasures/data/models/planning/linear_optimization.py
Labels: bug

#905 less conservative value for the big-M value
  documentation/changelog.rst
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_solver.py
Labels: bug, Scheduling, Still Needs Manual Backport, Still Needs Changelog Entry

#901 give admin reader access to rq-scheduler
  documentation/changelog.rst
  flexmeasures/ui/__init__.py
Labels: UI, Still Needs Changelog Entry

#909 Review/897/distinguish fallback value and max value
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
Labels: Scheduling
