Repository FlexMeasures/flexmeasures, pull requests merged in 2023-06, with the labels that each got.

#708 Create command to show available Schedulers
  documentation/changelog.rst
  documentation/cli/commands.rst
  flexmeasures/app.py
  flexmeasures/cli/data_show.py
  flexmeasures/utils/coding_utils.py
  flexmeasures/utils/plugin_utils.py
Labels: enhancement, Scheduling, CLI

#698 docs: Automatic Code Documentation
  .gitignore
  .vscode/spellright.dict
  Makefile
  documentation/_templates/custom-module-template.rst
  documentation/conf.py
  documentation/index.rst
  documentation/source.rst
  flexmeasures/api/__init__.py
  flexmeasures/api/dev/__init__.py
  flexmeasures/api/play/__init__.py
  flexmeasures/api/v1/__init__.py
  flexmeasures/api/v1_1/__init__.py
  flexmeasures/api/v1_2/__init__.py
  flexmeasures/api/v1_3/__init__.py
  flexmeasures/api/v2_0/__init__.py
  flexmeasures/app.py
  flexmeasures/auth/__init__.py
  flexmeasures/cli/__init__.py
  flexmeasures/config/__init__.py
  flexmeasures/config/tests/__init__.py
  flexmeasures/data/__init__.py
  flexmeasures/tests/__init__.py
  flexmeasures/tests/test_highlevel_class_imports.py
  flexmeasures/ui/__init__.py
  flexmeasures/utils/config_utils.py
Labels: documentation, Still Needs Changelog Entry

#709 fix: fail to save results to the database on subsequent calls in scheduling and reporting
  documentation/changelog.rst
  flexmeasures/data/models/time_series.py
Labels: bug, Still Needs Manual Backport

#716 fix: Blocked Loading Mixed Active Content Issue Prevents Chart Viewing on Flexmeasures App
  documentation/changelog.rst
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/utils/view_utils.py
Labels: bug, UI

#712 feat: add `AggregatorReporter`
  documentation/changelog.rst
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/tests/conftest.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/schemas/reporting/aggregation.py
Labels: Still Needs Changelog Entry, Reporting

#679 feat(scheduling): Storage scheduler supports losses over time
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/conf.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_jobs_fresh_db.py
  flexmeasures/utils/calculations.py
Labels: API, Scheduling, CLI

#673 feat: Support Pandas 2
  documentation/changelog.rst
  documentation/plugin/customisation.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/time_series.py
  requirements/app.in
  requirements/app.txt
Labels: dependency-hygiene

#724 docs: unindex the sunset API versions from documentation
  documentation/api/introduction.rst
  documentation/api/notation.rst
  documentation/index.rst
Labels: documentation, API, deprecation

#727 feat: Allow adding public assets through the CLI
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/data/schemas/generic_assets.py
Labels: CLI

#731 fix: relax decimal resolution in constraint validation
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Labels: bug, Scheduling

#732 fix: timerange for sensor with a single belief
  documentation/changelog.rst
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/services/timerange.py
Labels: bug, API, UI, Still Needs Changelog Entry

#734 feat: CLI can delete multiple sensors at once
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_delete.py
Labels: CLI

#735 fix: drop NaN values when saving the report to the database
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
Labels: bug, CLI, Reporting

#722 feat: add pyinstrument integration to Flask API endpoints
  .gitignore
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/app.py
  requirements/app.txt
  requirements/dev.in
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
Labels: documentation, enhancement, API

#743 fix: relax constraint for overlaying plot traces for sensors with various resolutions
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
Labels: UI

#744 Fix/report offsets in local time
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
Labels: bug, CLI

#742 Feature/sort sensor legend in order of appearence
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/utils/coding_utils.py
Labels: UI

#739 feat: sensors with % units get chart including 0-100% in their domain
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
Labels: UI

#746 fix: prevent mutating the original FIELD_DEFINITIONS dict
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
Labels: bug, UI

#738 Fix absolute currency units
  documentation/changelog.rst
  flexmeasures/utils/unit_utils.py
Labels: bug

#753 ci: PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Continuous Integration
