Repository FlexMeasures/flexmeasures, pull requests merged in 2023-05, with the labels that each got.

#657 Justify section contents in documentation
  documentation/_static/css/custom.css
  documentation/conf.py
Labels: documentation

#660 FLEXMEASURES_PLUGINS configurable from env
  .vscode/spellright.dict
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/plugin/customisation.rst
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/plugin_utils.py
Labels: Continuous Integration

#665 docs: improvements to developer setup intro
  documentation/dev/introduction.rst
  documentation/host/data.rst
  flexmeasures/utils/app_utils.py
Labels: documentation, development

#671 669 modernize packaging
  .gitignore
  Makefile
  documentation/changelog.rst
  flexmeasures/api/common/schemas/__init__.py
  flexmeasures/api/common/schemas/tests/__init__.py
  setup.py
  to_pypi.sh
Labels: development, Continuous Integration, installation

#670 fix: pypi package should not pin dependencies precisely
  setup.py
Labels: Continuous Integration

#672 create a new user after creating a fresh db
  Makefile
  documentation/tut/toy-example-from-scratch.rst
  flexmeasures/data/scripts/clean_database.sh
Labels: documentation

#676 docs: improve developer tutorial on how to run tests, incl. coverage
  .coveragerc
  documentation/dev/introduction.rst
Labels: documentation, development

#694 Revert some modern type annotations, to keep support for Python 3.8
  flexmeasures/auth/policy.py
  flexmeasures/data/services/time_series.py
Labels: bug

#682 fix: limit numpy version to fix ReadTheDocs build
  requirements/app.in
Labels: bug, Continuous Integration, Still Needs Changelog Entry

#687 updated toy-tutorial screenshots
  documentation/tut/toy-example-from-scratch.rst
Labels: documentation, good first issue, UI

#702 refactor: Constraint validation for cases A and B
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Labels: refactoring

#659 642 add report cli command
  documentation/changelog.rst
  documentation/cli/commands.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/cli/utils.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/tests/conftest.py
  flexmeasures/data/models/reporting/tests/test_pandas_reporter.py
  flexmeasures/data/models/reporting/tests/test_reporter.py
  flexmeasures/data/models/reporting/tests/test_tibber_reporter.py
  flexmeasures/utils/tests/test_time_utils.py
  flexmeasures/utils/time_utils.py
Labels: enhancement, Still Needs Changelog Entry, Reporting

#680 feat(scheduling): Add multiple maxima and minima constraints into `StorageScheduler`
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/storage.py
Labels: Scheduling, Still Needs Changelog Entry

#705 feat: set default `event_resolution` to fetch input data for the `Reporter`
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/models/reporting/tests/test_tibber_reporter.py
Labels: Reporting
