Repository FlexMeasures/flexmeasures, pull requests merged in 2023-10, with the labels that each got.

#862 ci: allow to update OR upgrade dependencies
  ci/update-packages.sh
Labels: Continuous Integration

#864 fix: apply soc-unit when deserializing soc-minima and soc-maxima
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/data/schemas/scheduling/storage.py
Labels: bug, API, Still Needs Manual Backport

#863 fix(tests): try highs solver again
  documentation/configuration.rst
  documentation/host/deployment.rst
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/utils/config_defaults.py
Labels: Scheduling, Continuous Integration

#855 add parent generic asset
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/40d6c8e4be94_add_parent_asset_id_column.py
  flexmeasures/data/models/generic_assets.py
Labels: Data

#872 Security/pillow>=10.0.1
  ci/update-packages.sh
  requirements/3.10/app.txt
  requirements/3.11/app.txt
  requirements/3.8/app.txt
  requirements/3.9/app.txt
  requirements/app.in
Labels: security, dependency-hygiene

#846 feat: spin off fallback scheduler from the storage scheduler
  documentation/changelog.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/exceptions.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/utils.py
Labels: Reporting

#866 serialize sensor only when there's data
  flexmeasures/data/models/generic_assets.py
Labels: bug

#874 Change the Asset constraint `(account_id, name)` to `(parent_asset_id, name)`.
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/cli/data_delete.py
  flexmeasures/data/migrations/versions/a60cc43aef5e_delete_children_assets_on_cascade_when_.py
  flexmeasures/data/migrations/versions/ac5e340cccea_change_scope_of_name_account_id_unique_constraint.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
Labels: Data

#879 Feature/planning/adapt scheduler multiple output
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/process.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/services/scheduling.py
Labels: Scheduling

#887 fix: unreachable code on the endpoint to get a schedule
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/services/scheduling.py
Labels: bug, Scheduling
