Repository FlexMeasures/flexmeasures, pull requests merged in 2023-04, with the labels that each got.

#625 Add account role schema
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/data/schemas/account.py
Labels: API

#634 Datetime based users sorting
  flexmeasures/ui/templates/crud/users.html
Labels: good first issue, UI

#636 Fix copybutton
  documentation/changelog.rst
  documentation/dev/api.rst
  documentation/dev/docker-compose.rst
  documentation/dev/introduction.rst
  documentation/host/data.rst
  documentation/host/deployment.rst
  documentation/host/error-monitoring.rst
  documentation/host/queues.rst
  documentation/tut/forecasting_scheduling.rst
  documentation/tut/installation.rst
  documentation/tut/toy-example-from-scratch.rst
Labels: documentation

#605 432 account overview list details page
  documentation/api/change_log.rst
  documentation/api/v3_0.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/health.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/api/v3_0/users.py
  flexmeasures/cli/data_show.py
  flexmeasures/data/schemas/account.py
  flexmeasures/data/services/accounts.py
  flexmeasures/ui/__init__.py
  flexmeasures/ui/crud/accounts.py
  flexmeasures/ui/crud/assets.py
  flexmeasures/ui/crud/users.py
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/crud/account.html
  flexmeasures/ui/templates/crud/accounts.html
  flexmeasures/ui/templates/crud/assets.html
  flexmeasures/ui/templates/crud/user.html
  flexmeasures/ui/templates/crud/users.html
  flexmeasures/ui/templates/defaults.jinja
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/tests/test_user_crud.py
  flexmeasures/ui/tests/utils.py
  flexmeasures/utils/config_defaults.py
Labels: API, UI

#644 Renaming `Scheduler.compute_schedule` to `Scheduler.compute`
  documentation/plugin/customisation.rst
  flexmeasures/api/v1_2/implementations.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/dummy_scheduler.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs_fresh_db.py
Labels: Still Needs Changelog Entry

#649 GET /api/v3_0/assets/public should ask for token authentication
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Labels: Still Needs Changelog Entry

#629 documentation enhancement
  documentation/host/data.rst
  documentation/tut/toy-example-from-scratch.rst
Labels: documentation
