Repository FlexMeasures/flexmeasures, pull requests merged in 2023-07, with the labels that each got.

#747 docs: mention the ongoing work on shifting algorithm in the API notation
  documentation/api/notation.rst
Labels: documentation

#750 feat: add attributes column to `data_source` table
  .vscode/settings.json
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/2ac7fb39ce0c_add_attribute_column_to_data_source.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/services/data_sources.py
Labels: Data

#757 Upgrade dependencies after v014
  documentation/conf.py
  flexmeasures/app.py
  flexmeasures/data/services/users.py
  requirements/app.in
  requirements/app.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
Labels: Continuous Integration

#699 feat: add redis liveness probe
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/health.py
Labels: enhancement, Continuous Integration, Still Needs Changelog Entry

#764 docs: add device_scheduler page
  documentation/changelog.rst
  documentation/concepts/device_scheduler.rst
  documentation/index.rst
Labels: documentation, Scheduling

#758 fix(storage): fixes too many args in constraint_message function
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Labels: Still Needs Manual Backport

#756 docs: improve documentation of flexmeasures
  documentation/host/data.rst
  documentation/index.rst
  documentation/tut/toy-example-from-scratch.rst
Labels: documentation

#766 add Highs to requirements
  Dockerfile
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/dev/introduction.rst
  documentation/host/deployment.rst
  documentation/tut/installation.rst
  flexmeasures/data/models/planning/linear_optimization.py
  requirements/app.in
Labels: Scheduling, Still Needs Changelog Entry

#729 feat: add `ProcessScheduler`
  documentation/api/notation.rst
  documentation/changelog.rst
  flexmeasures/data/models/planning/process.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_process.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/scheduling/process.py
  flexmeasures/data/schemas/tests/conftest.py
  flexmeasures/data/schemas/tests/test_reporting.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/times.py
  flexmeasures/data/services/scheduling.py
Labels: Scheduling, Still Needs Changelog Entry
