Repository FlexMeasures/flexmeasures, pull requests merged in 2023-12, with the labels that each got.

#917 fix: 'str' object has no attribute 'removeprefix' in Python 3.8
  documentation/changelog.rst
  flexmeasures/api/v3_0/public.py
Labels: bug, API

#922 Feature/currency symbols
  documentation/changelog.rst
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/base.html
  flexmeasures/utils/config_defaults.py
Labels: UI, Plugin support, Units, Still Needs Changelog Entry

#924 769 bug: unable to save asset attributes through the UI when latitude and longitude are undefined
  documentation/changelog.rst
  flexmeasures/ui/crud/assets.py
Labels: bug, UI

#923 feature(UI): Tables with rows that navigate on click
  documentation/changelog.rst
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/crud/account.html
  flexmeasures/ui/templates/crud/accounts.html
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/crud/assets.html
  flexmeasures/ui/templates/crud/users.html
Labels: UI

#920 Implement Content Security Policy (CSP) Upgrade for Enhanced Web Application Security
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/utils/view_utils.py
  flexmeasures/utils/config_defaults.py
  requirements/3.10/app.txt
  requirements/3.10/test.txt
Labels: documentation, enhancement, UI

#897 add (device) consumption and production capacities as sensors
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Labels: Scheduling, Still Needs Changelog Entry

#906 feature: add usage forecast
  .vscode/settings.json
  documentation/changelog.rst
  documentation/concepts/device_scheduler.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/storage.py
Labels: Scheduling

#939 fix: deprecate usage of job.exc_info
  flexmeasures/data/tests/test_forecasting_jobs.py
Labels: deprecation, dependency-hygiene

#930 Breadcrumb for the asset page
  documentation/changelog.rst
  documentation/concepts/device_scheduler.rst
  flexmeasures/cli/data_add.py
  flexmeasures/ui/crud/assets.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/views/sensors.html
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/ui/utils/breadcrumb_utils.py
  flexmeasures/ui/utils/view_utils.py
  flexmeasures/ui/views/sensors.py
Labels: enhancement, UI

#940 fix: internationalize thousands separator to narrow non-breaking space
  flexmeasures/ui/static/js/flexmeasures.js
Labels: UI

#933 add charge and discharge efficiencies as sensors
  documentation/api/notation.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/conftest.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Labels: API, Scheduling

#787 feat: benchmark util for accessing performance
  .vscode/spellright.dict
  ci/benchmark.py
  documentation/changelog.rst
Labels: enhancement, development, Continuous Integration
