Repository FlexMeasures/flexmeasures, pull requests merged in 2023-01, with the labels that each got.

#569 Disregard targets that are too far into the future
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/services/scheduling.py
Labels: API, Scheduling

#582 fix validation of deprecated roundtrip-efficiency field in trigger-schedules endpoint
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
Labels: Still Needs Manual Backport

#580 Sunset old flex config fields
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/utils.py
Labels: API, deprecation

#562 Keyboard replay control
  documentation/changelog.rst
  flexmeasures/ui/static/js/replay-utils.js
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/views/sensors.html
Labels: UI
