Repository FlexMeasures/flexmeasures, pull requests merged in 2024-04, with the labels that each got.

#1029 fix: unable to click child assets table
  flexmeasures/ui/templates/crud/asset.html
Labels: UI

#1033 chore: upgrade depencies for 0.21
  requirements/3.10/app.txt
  requirements/3.10/dev.txt
  requirements/3.10/docs.txt
  requirements/3.10/test.txt
  requirements/3.11/app.txt
  requirements/3.11/dev.txt
  requirements/3.11/docs.txt
  requirements/3.11/test.txt
  requirements/3.8/app.txt
  requirements/3.8/dev.txt
  requirements/3.8/docs.txt
  requirements/3.8/test.txt
  requirements/3.9/app.txt
  requirements/3.9/dev.txt
  requirements/3.9/docs.txt
  requirements/3.9/test.txt
Labels: dependency-hygiene

#1030 Support start_time and end_time query parameters
  documentation/changelog.rst
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/times.py
  flexmeasures/ui/crud/assets.py
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/utils/view_utils.py
Labels: UI, Still Needs Changelog Entry

#1031 Fix/harmonize options to show IDs or path
  flexmeasures/cli/data_show.py
  flexmeasures/cli/utils.py
Labels: CLI

#1036 feature: tabulate queue info
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/jobs.py
Labels: CLI, jobs, Still Needs Changelog Entry

#1024 fix: replay key conflict with text input
  documentation/changelog.rst
  flexmeasures/ui/templates/base.html
Labels: bug, UI

#1039 Add behind-the-meter concept to main line of FlexMeasures' purpose
  .vscode/spellright.dict
  Readme.md
  documentation/changelog.rst
  documentation/concepts/flexibility.rst
  documentation/index.rst
Labels: documentation

#1046 [UI] Update the URL `start` and `end` of the asset page when the time period is updated
  flexmeasures/ui/templates/crud/asset.html
Labels: UI, Still Needs Changelog Entry
