Repository FlexMeasures/flexmeasures, pull requests merged in 2024-05, with the labels that each got.

#1054 show (sensor name + asset name) in tooltip
  flexmeasures/data/models/charts/belief_charts.py
Labels: UI

#1047 [fix] skip conversion of SOC targets minima or maxima are defined as Sensors
  documentation/changelog.rst
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/storage.py
Labels: Scheduling, Still Needs Manual Backport, Units

#1056 [UI] Stop adding one day to the end of the range on the asset page
  documentation/changelog.rst
  flexmeasures/ui/templates/crud/asset.html
Labels: bug, UI

#1053 Show sensor IDs in table on asset page
  flexmeasures/ui/templates/crud/asset.html
Labels: UI

#1045 [reporting] Add flag to filter the data with a the latest version source
  documentation/changelog.rst
  flexmeasures/conftest.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/schemas/reporting/pandas_reporter.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/tests/test_queries.py
Labels: Reporting

#1043 [reporting] Droplevels pandas reporter
  documentation/changelog.rst
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/schemas/reporting/pandas_reporter.py
Labels: Reporting

#1044 [reporting] Convert the units of the input data to a target unit.
  documentation/changelog.rst
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/tests/conftest.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/models/reporting/tests/test_pandas_reporter.py
  flexmeasures/data/schemas/io.py
  flexmeasures/data/schemas/reporting/pandas_reporter.py
Labels: Still Needs Changelog Entry, Reporting

#1026 [CLI] `flexmeasures show beliefs` entity path in case of duplicated sensors
  documentation/changelog.rst
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_data_edit.py
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/cli/utils.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/user.py
Labels: CLI

#1075 Docs/changelog formatting
  documentation/changelog.rst
Labels: documentation

#1066 Feature: show default sensors of the same unit together
  documentation/changelog.rst
  flexmeasures/data/models/generic_assets.py
Labels: UI
