Repository FlexMeasures/flexmeasures, pull requests merged in 2024-08, with the labels that each got.

#1132 Docs/freshen up flex model docs
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/tut/posting_data.rst
  flexmeasures/data/models/planning/process.py
Labels: documentation, Scheduling

#1135 fix: add missing API changelog entry for soc-minima and soc-maxima
  documentation/api/change_log.rst
Labels: documentation

#1107 Support new single-belief fast track in timely-beliefs
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/3eb0564948ca_add_search_index_for_single_belief_.py
  flexmeasures/data/models/time_series.py
  requirements/3.10/app.txt
  requirements/3.11/app.txt
  requirements/3.8/app.txt
  requirements/3.9/app.txt
  requirements/app.in
Labels: Data

#1141 Docs/macOS port
  documentation/dev/setup-and-guidelines.rst
  documentation/host/docker.rst
  documentation/notes/macOS-docker-port-note.rst
  documentation/notes/macOS-port-note.rst
  documentation/tut/toy-example-setup.rst
Labels: documentation, installation

#1140 1089 menu item styling
  documentation/changelog.rst
  flexmeasures/ui/templates/base.html
Labels: bug, UI

#1130 feat: zoom-in asset and sensor chart
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
Labels: enhancement, UI, Still Needs Changelog Entry

#1129 fix: support saving instantaneous beliefs as a list of one element
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/utils.py
Labels: bug

#1137 Dynamic account colors
  .gitignore
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/utils.py
  flexmeasures/data/migrations/versions/4b5aa7856932_added_primary_and_secondary_color_field_.py
  flexmeasures/data/models/user.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/crud/account.html
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/tests/test_color_defaults.py
  flexmeasures/ui/utils/color_defaults.py
  flexmeasures/ui/utils/view_utils.py
  flexmeasures/utils/coding_utils.py
Labels: UI, multi-tenancy, Still Needs Changelog Entry

#1127 Feature/merge time series schemas
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/tut/flex-model-v2g.rst
  documentation/tut/forecasting_scheduling.rst
  documentation/tut/posting_data.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/cli/data_add.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/data/schemas/units.py
Labels: API, Scheduling

#1138 Docs/update section on API field notation
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/migrations/versions/4b5aa7856932_added_primary_and_secondary_color_field_.py
Labels: documentation, API

#1028 feature: flex context prices as quantities
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/tut/flex-model-v2g.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_latitude_longitude.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/data/schemas/units.py
  flexmeasures/data/schemas/utils.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs_fresh_db.py
Labels: Scheduling, Units

#1150 Add annotation types on upgrade
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/524800c11eec_add_warning_and_error_as_annotations_.py
Labels: Data

#1151 Add ondelete cascade to delete annotations for a sensor/asset/account
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/9b2b90ee5dbf_add_ondelete_cascade_to_foreign_keys_in_account_sensor_and_asset_relationships.py
  flexmeasures/data/models/annotations.py
Labels: Data

#1153 Review/show sensor chart type
  documentation/changelog.rst
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/views/sensors.html
Labels: UI

#1143 Add histogram option on the sensor page
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/ui/templates/views/sensors.html
Labels: Data, UI

#1157 fix: remove duplicate x-axis title in histogram
  flexmeasures/data/models/charts/belief_charts.py
Labels: bug, UI

#1145 Feat-dynamic-logo
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/utils.py
  flexmeasures/data/migrations/versions/0af134879301_merge.py
  flexmeasures/data/migrations/versions/ea84cefba5c0_added_logo_url_field_to_account_model.py
  flexmeasures/data/models/user.py
  flexmeasures/ui/utils/color_defaults.py
  flexmeasures/ui/utils/view_utils.py
Labels: UI, multi-tenancy
