Repository FlexMeasures/flexmeasures, pull requests merged in 2024-03, with the labels that each got.

#995 get public assets
  documentation/changelog.rst
  flexmeasures/ui/utils/breadcrumb_utils.py
Labels: bug, UI, Still Needs Manual Backport, Still Needs Changelog Entry

#997 fix: Use scalars instead of scalar having limit constraint
  documentation/changelog.rst
  flexmeasures/data/models/time_series.py
Labels: bug

#1005 Improve processing time for deleting beliefs via CLI
  documentation/changelog.rst
  flexmeasures/cli/data_delete.py
  flexmeasures/data/models/planning/tests/conftest.py
Labels: CLI

#998 Enhance test_closest_sensor to Support Variable Number of Closest Sensors (n)
  flexmeasures/data/tests/test_sensor_queries.py
Labels: enhancement

#1008 Introduce FLEXMEASURES_FORCE_HTTPS
  .vscode/spellright.dict
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/app.py
  flexmeasures/ui/crud/api_wrapper.py
  flexmeasures/utils/config_defaults.py
Labels: API, Still Needs Changelog Entry

#1000 Make installable on MacOS
  .gitignore
  Makefile
  ci/update-packages.sh
  documentation/changelog.rst
  documentation/dev/dependency-management.rst
  documentation/dev/setup-and-guidelines.rst
  documentation/host/data.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/data/scripts/clean_database.sh
  requirements/3.10/app.txt
  requirements/3.11/app.txt
  requirements/3.8/app.txt
  requirements/3.9/app.txt
  requirements/app.in
Labels: documentation, installation

#1013 [Reporting] Define belief horizon for the PandasReporter output beliefs
  documentation/changelog.rst
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/schemas/reporting/__init__.py
Labels: Reporting

#1009 [Reporting] skip output event resolution in `PandasReporter`
  documentation/changelog.rst
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/schemas/reporting/__init__.py
Labels: Still Needs Changelog Entry, Reporting

#1010 [Reporting] Fix `PandasReporter` input event resolution
  documentation/changelog.rst
  flexmeasures/data/models/reporting/pandas_reporter.py
Labels: Reporting

#1007 [Scheduling] convert the units of inflexible power sensors MW
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
Labels: Scheduling

#1014 Align API endpoint policy w.r.t. trailing slash
  documentation/changelog.rst
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/crud/assets.py
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/crud/asset_new.html
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/ui/views/sensors.py
Labels: API

#1019 fix _clean_belief_dataframe for a BDF with a single index.
  flexmeasures/data/models/reporting/pandas_reporter.py
Labels: bug

#1017 Feature/revised asset groups
  documentation/changelog.rst
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/ui/templates/views/new_dashboard.html
  flexmeasures/ui/utils/view_utils.py
Labels: UI, Plugin support

#996 add SOC constraints as sensors
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  requirements/3.10/app.txt
  requirements/3.11/app.txt
  requirements/3.8/app.txt
  requirements/3.9/app.txt
  requirements/app.in
Labels: API, Scheduling

#941 927 status API endpoint and UI
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/conftest.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/crud/assets.py
  flexmeasures/ui/templates/crud/account.html
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/crud/assets.html
  flexmeasures/ui/templates/views/status.html
  requirements/3.10/test.txt
  requirements/3.11/test.txt
  requirements/3.8/app.txt
  requirements/3.8/test.txt
  requirements/3.9/app.txt
  requirements/3.9/test.txt
  requirements/test.in
Labels: Data, UI
