Repository FlexMeasures/flexmeasures, pull requests merged in 2024-02, with the labels that each got.

#970 Fix/documentation build
  flexmeasures/utils/config_defaults.py
Labels: bug, documentation

#965 use storage efficiency quantity or sensor
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
Labels: Scheduling

#966 add quantity or sensor storage scheduler
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Labels: CLI

#967 show child assets in the asset page
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/ui/crud/assets.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/crud/asset.html
Labels: UI

#977 feature(UI): navigate sibling assets/sensors
  documentation/changelog.rst
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/views/sensors.html
  flexmeasures/ui/utils/breadcrumb_utils.py
  flexmeasures/utils/flexmeasures_inflection.py
Labels: UI, Still Needs Changelog Entry

#976 feature: show beliefs from a given source type only
  documentation/changelog.rst
  flexmeasures/cli/data_show.py
Labels: CLI

#978 hotfix/Use the right event resolution for the efficiency in the CLI test
  flexmeasures/cli/tests/conftest.py
Labels: CLI

#973 Chore: update dependencies for #938
  requirements/3.10/app.txt
  requirements/3.10/dev.txt
  requirements/3.10/docs.txt
  requirements/3.10/test.txt
  requirements/3.11/app.txt
  requirements/3.11/dev.txt
  requirements/3.11/docs.txt
  requirements/3.11/test.txt
  requirements/3.8/app.txt
  requirements/3.8/dev.txt
  requirements/3.8/docs.txt
  requirements/3.8/test.txt
  requirements/3.9/app.txt
  requirements/3.9/dev.txt
  requirements/3.9/docs.txt
  requirements/3.9/test.txt
  requirements/Readme.md
Labels: dependency-hygiene

#972 Chore/modernize type annotations
  flexmeasures/api/common/responses.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/common/utils/validators.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/auth/policy.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/__init__.py
  flexmeasures/data/models/forecasting/model_spec_factory.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/legacy_migration_utils.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/profit.py
  flexmeasures/data/models/reporting/tests/test_profit_reporter.py
  flexmeasures/data/models/user.py
  flexmeasures/data/models/validation_utils.py
  flexmeasures/data/queries/sensors.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/services/annotations.py
  flexmeasures/data/services/asset_grouping.py
Labels: documentation, deprecation

#979 hotfix/convert capacity to MW
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
Labels: bug, Still Needs Manual Backport

#953 docs: Clearer start page, installation instructions & flex-model knowledge
  .coveragerc
  .vscode/spellright.dict
  documentation/_static/css/custom.css
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/assets.rst
  documentation/concepts/benefits.rst
  documentation/concepts/data-model.rst
  documentation/concepts/device_scheduler.rst
  documentation/concepts/flexibility.rst
  documentation/concepts/inbuilt-smart-functionality.rst
  documentation/concepts/markets.rst
  documentation/configuration.rst
  documentation/dev/setup-and-guidelines.rst
  documentation/dev/why.rst
  documentation/features/forecasting.rst
  documentation/features/reporting.rst
  documentation/features/scheduling.rst
  documentation/getting-started.rst
  documentation/host/deployment.rst
  documentation/host/docker.rst
  documentation/host/error-monitoring.rst
  documentation/host/installation.rst
  documentation/index.rst
  documentation/tut/flex-model-v2g.rst
  documentation/tut/forecasting_scheduling.rst
  documentation/tut/installation.rst
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-reporter.rst
  documentation/views/account.rst
  documentation/views/asset-data.rst
  flexmeasures/data/models/forecasting/model_spec_factory.py
Labels: documentation

#975 Feature/delete beliefs
  documentation/changelog.rst
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/utils.py
Labels: CLI

#982 fix: delete beliefs
  flexmeasures/cli/data_delete.py
Labels: bug

#983 Transfer ownership of asset and its children to a different account.
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_data_edit.py
Labels: CLI

#987 Feature/ support passing the site power capacity as a sensor
  documentation/changelog.rst
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/utils.py
Labels: bug, Scheduling, Still Needs Manual Backport

#986 docs: mention and explain consultancy briefly
  documentation/concepts/security_auth.rst
Labels: documentation, Auth
