Repository FlexMeasures/flexmeasures, pull requests merged in 2024-01, with the labels that each got.

#907 754 deprecate flask env
  docker-compose.yml
  documentation/changelog.rst
  documentation/dev/introduction.rst
  documentation/host/docker.rst
  documentation/tut/installation.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/app.py
  flexmeasures/ui/utils/view_utils.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/config_utils.py
  requirements/app.in
Labels: deprecation, dependency-hygiene

#943 avoid redirecting when clicking over an input element
  flexmeasures/ui/static/js/flexmeasures.js
Labels: UI

#947 fix: allow showing beliefs for sensors with non-unique names
  documentation/changelog.rst
  flexmeasures/cli/data_show.py
  flexmeasures/cli/utils.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_queries.py
Labels: bug, CLI, Still Needs Manual Backport

#945 Add Redis Credentials to Docker Compose for Web Server
  docker-compose.yml
  documentation/changelog.rst
Labels: bug, good first issue, Still Needs Manual Backport

#950 fix: 'str' object has no attribute 'removesuffix' in Python 3.8
  documentation/changelog.rst
  flexmeasures/api/v3_0/public.py
Labels: bug, API, Still Needs Manual Backport

#959 add parent_asset_id to GenericAssetSchema and turn the type to int
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/data/schemas/generic_assets.py
Labels: bug, CLI

#960 fix: db migration
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/ad98460751d9_remove_obsolete_tables.py
  flexmeasures/data/migrations/versions/c349f52c700d_update_data_sources.py
Labels: bug, Still Needs Manual Backport, upgrading

#961 Cache-busting to automatically fix table navigation for 0.18 UI changes
  documentation/changelog.rst
  flexmeasures/ui/templates/base.html
Labels: bug, UI, Still Needs Manual Backport

#946 Shortened CLI option names and updated corresponding tests
  .github/workflows/build.yml
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/dev/docker-compose.rst
  documentation/dev/introduction.rst
  documentation/index.rst
  documentation/tut/forecasting_scheduling.rst
  documentation/tut/installation.rst
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-reporter.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_data_edit.py
  flexmeasures/cli/tests/test_data_show.py
  flexmeasures/cli/utils.py
Labels: CLI

#899 Allow to specify soc-maxima and soc-minima as a range
  documentation/api/change_log.rst
  documentation/api/v2g.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_times.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/utils/time_utils.py
Labels: API
