Repository FlexMeasures/flexmeasures, pull requests merged in 2024-12, with the labels that each got.

#1269 feat: show certain buttons to only authorised users
  flexmeasures/ui/crud/accounts.py
  flexmeasures/ui/crud/assets/__init__.py
  flexmeasures/ui/crud/assets/utils.py
  flexmeasures/ui/crud/assets/views.py
  flexmeasures/ui/templates/crud/account.html
  flexmeasures/ui/templates/crud/asset.html
Labels: UI

#1272 Paginate assets auditlog table and API
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/crud/assets/views.py
  flexmeasures/ui/templates/crud/asset_audit_log.html
Labels: API, UI

#1212 Sensors To Show Edit form
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/ui/crud/assets/forms.py
  flexmeasures/ui/crud/assets/views.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/utils/view_utils.py
Labels: UI

#1282 Clean up sensortoshow key from attribute field on assets
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/a42b5124cc46_clean_sensors_to_show_from_asset_.py
Labels: Data

#1292 docs: recategorize some 0.24 PRs
  .github/PULL_REQUEST_TEMPLATE.md
  documentation/changelog.rst
Labels: documentation

#1291 Chore/pandas freqstr deprecation of t and h
  flexmeasures/conftest.py
  flexmeasures/data/models/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_time_series_services.py
  flexmeasures/ui/utils/view_utils.py
  flexmeasures/utils/time_utils.py
Labels: dependency-hygiene

#1286 Fix/faster asset count in user view
  documentation/changelog.rst
  flexmeasures/ui/crud/users.py
  flexmeasures/ui/tests/test_user_crud.py
  flexmeasures/ui/tests/utils.py
Labels: UI

#1284 Feature/reporting/add resampling methods to validator
  documentation/changelog.rst
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/schemas/reporting/pandas_reporter.py
  flexmeasures/data/schemas/tests/test_reporting.py
Labels: bug, Reporting

#1144 Feature/planning/multi-commitments
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/models/planning/tests/utils.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/services/scheduling.py
Labels: Scheduling
