Repository FlexMeasures/flexmeasures, pull requests merged in 2025-04, with the labels that each got.

#1392 feat: add state-of-charge sensor to flex-model
  .gitignore
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Labels: enhancement, Still Needs Changelog Entry

#1300 Feature/stock commitments
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/views/asset-data.rst
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Labels: Scheduling, Story:RelaxStorageConstraints

#1390 feat: update flexContext form with API when any field is modified
  documentation/changelog.rst
  flexmeasures/ui/templates/crud/asset.html
Labels: UI, upgrading

#1408 Fix: typo in audit log header
  flexmeasures/ui/templates/crud/asset_audit_log.html
Labels: UI, Still Needs Manual Backport

#1394 feat: create sensor for asset page
  documentation/changelog.rst
  flexmeasures/ui/crud/assets/views.py
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/crud/sensor_new.html
Labels: UI, Still Needs Changelog Entry

#1407 Feature/viz/mix sensor resolutions
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
Labels: UI

#1410 Feature/treeSpiderfy
  documentation/changelog.rst
  flexmeasures/ui/static/js/map-init.js
  flexmeasures/ui/templates/views/new_dashboard.html
  flexmeasures/utils/config_defaults.py
Labels: UI

#1413 Feat: Sensor edit page and button to delete sensor
  documentation/changelog.rst
  flexmeasures/ui/templates/views/sensors.html
  flexmeasures/ui/views/sensors.py
Labels: UI

#1411 Feat/cli/jobs/save last
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/jobs.py
Labels: CLI, jobs

#1406 Fix/planning/save soc include gain and usage
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/utils/calculations.py
Labels: bug, Scheduling

#1419 Move to pyproject.toml
  .gitignore
  Dockerfile
  README.md
  documentation/changelog.rst
  flexmeasures/data/migrations/env.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
  pyproject.toml
  requirements/dev.in
  setup.py
  to_pypi.sh
Labels: Continuous Integration, dependency-hygiene

#1424 chore: remove unnecessary print in data migration
  flexmeasures/data/migrations/versions/ad98460751d9_remove_obsolete_tables.py
Labels: Data, Continuous Integration

#1400 upgrade dependencies for v0.26
  .github/workflows/lint-and-test.yml
  documentation/changelog.rst
  flexmeasures/data/tests/test_scheduling_simultaneous.py
  pyproject.toml
  requirements/3.10/app.txt
  requirements/3.10/dev.txt
  requirements/3.10/docs.txt
  requirements/3.10/test.txt
  requirements/3.11/app.txt
  requirements/3.11/dev.txt
  requirements/3.11/docs.txt
  requirements/3.11/test.txt
  requirements/3.12/app.txt
  requirements/3.12/dev.txt
  requirements/3.12/docs.txt
  requirements/3.12/test.txt
  requirements/3.8/app.txt
  requirements/3.8/dev.txt
  requirements/3.8/docs.txt
  requirements/3.8/test.txt
  requirements/3.9/app.txt
  requirements/3.9/dev.txt
  requirements/3.9/docs.txt
  requirements/3.9/test.txt
  requirements/dev.in
  requirements/test.in
Labels: dependency-hygiene

#1428 1312 make request profiling work with pytinstrument
  flexmeasures/app.py
  requirements/3.10/dev.txt
  requirements/3.11/dev.txt
  requirements/3.12/dev.txt
  requirements/3.8/dev.txt
  requirements/3.9/dev.txt
  requirements/dev.in
Labels: development

#1417 Ref/tutorial data modification
  .github/workflows/build.yml
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_show.py
Labels: Data, CLI

#1405 Feature/relax device power constraints
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/models/planning/tests/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
  flexmeasures/utils/calculations.py
Labels: Scheduling

#1449 Fix/don't combine flex contexts with old and new price fields
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
Labels: bug, CLI

#1399 Feat/statistics/order sources by freshness
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/templates/views/sensors.html
Labels: UI
