Repository FlexMeasures/flexmeasures, pull requests merged in 2025-02, with the labels that each got.

#1329 Chore/actions/cache v2 deprecation
  .github/workflows/lint-and-test.yml
  documentation/changelog.rst
Labels: Continuous Integration

#1341 testing multi-asset scheduling
  documentation/changelog.rst
  flexmeasures/data/models/planning/tests/test_solver.py
Labels: Scheduling, Story:MultiAssetScheduling

#1340 Feat/fallbacks for soc-usage and soc-gain
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Labels: Scheduling, Still Needs Manual Backport

#1342 Feat/cli/jobs/save last failed
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/jobs.py
Labels: CLI, jobs
