Repository FlexMeasures/flexmeasures, pull requests merged in 2025-03, with the labels that each got.

#1347 Ci/run doctests
  .github/workflows/lint-and-test.yml
  documentation/changelog.rst
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/services/utils.py
  flexmeasures/utils/calculations.py
  flexmeasures/utils/flexmeasures_inflection.py
  flexmeasures/utils/time_utils.py
  flexmeasures/utils/unit_utils.py
Labels: Continuous Integration

#1320 Flexcontext Edit Modal Dialogue
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/crud/asset.html
Labels: API, UI

#1313 Feature/multi asset StorageScheduler
  documentation/changelog.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/models/reporting/tests/test_tibber_reporter.py
  flexmeasures/data/schemas/reporting/pandas_reporter.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
  flexmeasures/data/tests/utils.py
Labels: Scheduling

#1346 Better y-axis titles when showing multiple sensors
  .github/workflows/lint-and-test.yml
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/services/utils.py
  flexmeasures/utils/calculations.py
  flexmeasures/utils/flexmeasures_inflection.py
  flexmeasures/utils/time_utils.py
  flexmeasures/utils/unit_utils.py
Labels: UI, Units

#1361 Only render Sensor Form in flexContext Form Option For certain fields
  flexmeasures/ui/templates/crud/asset.html
Labels: UI, refactoring

#1354 handle unexpected Datatypes in flex-context Db regression
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/cb8df44ebda5_flexcontext_field.py
  flexmeasures/data/schemas/scheduling/__init__.py
Labels: Data, refactoring

#1365 fix: Fixed UI&UX bugs on flexcontext modal dialouge
  documentation/changelog.rst
  flexmeasures/ui/templates/crud/asset.html
Labels: bug, UI

#1372 chore: added docs for flexcontext edit modal
  documentation/features/scheduling.rst
  documentation/views/asset-data.rst
  flexmeasures/ui/templates/crud/asset.html
Labels: documentation

#1022 Status page: show by source type
  documentation/changelog.rst
  documentation/concepts/data-model.rst
  documentation/views/asset-data.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/conftest.py
  flexmeasures/conftest.py
  flexmeasures/data/queries/utils.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/crud/assets/views.py
  flexmeasures/ui/templates/views/status.html
Labels: UI, monitoring

#1351 feat: CLI command to remove obsolete queue
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/jobs.py
Labels: CLI, jobs

#1380 Renamed confusing capacity variable and refactored logic
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/conftest.py
  flexmeasures/data/migrations/versions/cb8df44ebda5_flexcontext_field.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/utils.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/ui/crud/assets/utils.py
Labels: deprecation, Data, refactoring

#1395 Feat/PV curtailment (or: Fix/PV curtailment in case of negative production)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/storage.py
Labels: Scheduling

#1396 Refactor/check units in time series segment
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Labels: refactoring, Units

#1384 Ref/flex-context modal
  flexmeasures/ui/templates/crud/asset.html
  flexmeasures/ui/templates/crud/asset_new.html
Labels: UI
