Repository FlexMeasures/flexmeasures, pull requests merged in 2025-01, with the labels that each got.

#1223 Feat/time series specs with overlapping segments
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/tut/flex-model-v2g.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage_utils.py
  flexmeasures/data/models/planning/utils.py
Labels: bug, Scheduling

#1302 fix: recursive error while rendering flexmeasures_template
  documentation/changelog.rst
  flexmeasures/ui/utils/view_utils.py
Labels: upgrading

#1304 Docs/changelog v0.24.0 post release fixes
  documentation/changelog.rst
Labels: documentation

#1310 fix: asset editing form did not show map due to wrong whitespacing in template
  documentation/changelog.rst
  flexmeasures/ui/templates/crud/asset.html
Labels: bug, UI

#1316 fix: duplicate sphinx key was overwriting crucial setting
  .readthedocs.yaml
Labels: documentation

#1306 Fix/reporting/latest version and excludes source types
  documentation/changelog.rst
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/tests/conftest.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/schemas/io.py
  flexmeasures/data/tests/test_data_source.py
Labels: Data, Reporting
