Repository FlexMeasures/flexmeasures, pull requests merged in 2025-06, with the labels that each got.

#1404 fix: return proper 404 in sensor and asset views if objects cannot be found
  flexmeasures/data/schemas/sensors.py
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/views/assets/utils.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/ui/views/sensors.py
Labels: bug, UI

#1528 Fix/API/backwards compatibility 0.26.0
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Labels: bug, API, Scheduling

#1526 Fix/rq job page
  documentation/changelog.rst
  flexmeasures/cli/jobs.py
Labels: bug, UI, jobs

#1527 change two pins, upgrade dependencies for v0.27
  documentation/changelog.rst
  requirements.txt
  requirements/3.10/app.txt
  requirements/3.10/dev.txt
  requirements/3.10/docs.txt
  requirements/3.10/test.txt
  requirements/3.11/app.txt
  requirements/3.11/dev.txt
  requirements/3.11/docs.txt
  requirements/3.11/test.txt
  requirements/3.12/app.txt
  requirements/3.12/dev.txt
  requirements/3.12/docs.txt
  requirements/3.12/test.txt
  requirements/3.8/app.txt
  requirements/3.8/dev.txt
  requirements/3.8/docs.txt
  requirements/3.8/test.txt
  requirements/3.9/app.txt
  requirements/3.9/dev.txt
  requirements/3.9/docs.txt
  requirements/3.9/test.txt
  requirements/app.in
  requirements/test.in
Labels: security, dependency-hygiene

#1525 Test consultant ability to edit its clients users
  flexmeasures/api/v3_0/tests/test_api_v3_0_users.py
  flexmeasures/auth/tests/test_perm.py
Labels: API, Auth, multi-tenancy

#1533 Docs/mention parent asset
  documentation/changelog.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/data_show.py
Labels: documentation

#1540 docs/add three missing API endpoint groupings
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/users.py
Labels: documentation

#1529 Feat/move various warnings to toast notifications
  documentation/changelog.rst
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/templates/sensors/status.html
Labels: UI

#1534 Added scaling for the graphs with multiple sensors
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/utils/unit_utils.py
Labels: Data, UI

#1539 Consultants can edit & add to client accounts
  documentation/changelog.rst
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/auth/tests/test_perm.py
  flexmeasures/data/models/user.py
Labels: API, Auth
